* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &::before {
        content: "";
        background-image: url("truckbackground1.jpg");
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 80%;
    }
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background: white;
    border-radius: 20px;
    max-width: 550px;

}

h1 {
    font-size: 24px;
    padding: 0px;
    margin: auto;
}

p {
    padding: 20px;
}

section div {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border-radius: 10 px;
}

section div div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

section div div input {
    background: #e6e6e6;
    border-radius: 10px;
    border-width: 1px;
}

#request {
    resize: none;
    background: #e6e6e6;
    border-radius: 10px;
    padding: 10px;
}

#submit {
    margin-left: auto;
    width: 70px;
}


@media (max-width: 720px){
    section{
        flex-direction: column;
        background: #e6e6e6;
    }
    section div div input, #request {
        background: #ffffff;
    }

    section div{
        flex-direction: column;
        gap: 10px
    }

    div{
        margin: 0;
        width: 100%;
    }
    main{
        background: #e6e6e6;
        overflow:auto;
        &::before {
            content: "";
            background-image: none;
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 60%;
        }
    }
}