/* GLOBAL RESET */
html, body {
    margin: 0;
    padding: 0;
    
}
main {
    position: absolute;
    top: 80px;
    bottom: 80px;
    width: 100%;
}

nav {
    display: flex;
    background-color: #031329;
    justify-content: center;
    flex-basis: content;
    max-height: 80px;
    min-height: 80px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    background-color: #031329;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
}

nav ul, footer ul{
    display: flex;
    flex-basis: content;
    gap: 2px;
    background: #BA745F;
    list-style: none;
    padding: 0%;
    margin-left: auto;
    margin-right: auto;
}

nav ul li{
    display: flex;
    justify-self: flex-start;
    background: #031329;
    padding: 15px;
}

footer ul li {
    display: flex;
    justify-self: flex-start;
    background: #031329;
    padding: 15px;
}

nav ul li a , footer ul li{
    font: sans-serif;
    color: white;
    text-decoration: none;
    font-size: large;
}

@media (max-width: 720px){
    nav ul li{
        align-items: center;
        padding: 5px;
    }
}